.transport-flow {
    max-width: 504px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    box-shadow: 0 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);
}

.add-waypoint-wrap {
    text-align: right;
}

.add-waypoint {
    border: 0;
    padding: 0;
    color: #0acc60;
    background: rgba(0, 0, 0, 0);
    font-size: 0.875rem;
    font-weight: 500;
}

.add-waypoint > span {
    margin: 0 6px 0 0;
}

.add-waypoint > img {
    margin: -3px 0 0 0;
}

.add-waypoint:focus {
    outline: none;
}
